---
layout: default
---

{% assign event = site.data.events[page.event] %}
{% assign venue = site.data.venues[event.venue] %}

<header class="talk-header">
  <h1>{{ page.title }}</h1>
  <p>{{ page.type }}</p>
</header>

<div class="talk-intro">
  <p>
    This talk was presented
    by <strong>{{ page.author }}</strong>
    at <strong>{{ event.title }}</strong>

    {% if page.date %}
      on <strong>{{ page.date | date: "%A %-d %B %Y" }}</strong>.
    {% endif %}

    This event took place
    in <strong>{{ venue.city }}, {{ venue.country }}</strong>,
    at the <strong>{{ venue.name }}</strong>

    {% if event.startdate != event.enddate %}
    {% assign start_year = event.startdate | date: "%Y" %}
    {% assign end_year = event.enddate | date: "%Y" %}

    {% assign start_month = event.startdate | date: "%m" %}
    {% assign end_month = event.enddate | date: "%m" %}

    from <strong>
    {% if start_year == end_year %}
        {% if start_month == end_month %}
            {{ event.startdate | date: "%-d" }}
        {% else %}
            {{ event.startdate | date: "%-d %B" }}
        {% endif %}
    {% else %}
        {{ event.startdate | date: "%-d %B %Y" }}
    {% endif %}
    </strong>

to <strong>{{ event.enddate | date: "%-d %B %Y" }}</strong>.
    {% else %}
    on <strong>{{ event.startdate | date: "%A %-d %B %Y" }}</strong>.
    {% endif %}

    {% if event.archive_url %}
    The conference website is available at
    <a href="{{ event.archive_url }}">{{ event.archive_url }}</a>.
    {% endif %}

</p>

</div>

{{ content }}

</article>